html
   head
      title Form Tester
   body
      each dt in data 
        h3 Name of the novel: #{dt.name} 
        h3 Author of the novel: #{dt.author}
        h3 Publication Year: #{dt.pub}
      
      
       


       