html
html
   head
      title Form Tester
   body
      form(action = "/person", method = "POST")
         div
            label(for = "name") Novel name:
            input(name = "name" value = "Hi")
         br
         div
            label(for = "author") Author name:
            input(name = "author" value = "0")
         br
         div
            label(for = "pub") Publishing Year:
            input(name = "pub" value = "null")
         br
         button(type = "submit") Add Novel