html
html
   head
      title Form Tester
   body
      form(action = "/getbyauthor", method = "POST")
         div
            label(for = "name") Input Author name:
            input(name = "name" )
         br
         button(type = "submit") Send my greetings